body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1; 
}
a {
    text-decoration: none;    
}
h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.5px;
    line-height: 1.1;
    color: #192b59;
    max-width: 600px;
    margin-bottom: 60px;
}
.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}
.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.page-stat .title-h2 {
    text-align: center;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
.nav {
    font-size: 12px;
    
    text-transform: uppercase;  
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav>li {
    padding: 0 15px;
}
.nav-item {
    color: #6e7ea9;
}
.btn-primary {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 16px 34px;
    border-radius: 30px;
}
.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}
.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    padding: 16px 32px;
    border-radius: 30px;
}
.btn-secondary:hover {
    color: #cbdbe8;
    background-color: #fff;
}

.btn-free {
   
    font-weight: 400;
    padding: 16px 44px;   
}
.btn-info {
    color: #8085b1;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 16px 32px;
    border-radius: 30px;
}
.btn-group a + a {
    margin-left: 15px;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;   
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}
.grid-item h3 {
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
} 
.list-stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
 
}
.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 20px;
} 

    
    
